@import url('https://fonts.googleapis.com/css?family=Montserrat:200&display=swap');
/* Logo */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400&display=swap');
/* Headings and UI */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');


body {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.25px;
}

.md-body-alt {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.md-caption {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.4px;
}

.md-overline {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.bg-gradient {
  background-color: #aee1f9;
  background-image: linear-gradient(315deg, #aee1f9 0%, #f6ebe6 74%);
}

.btn {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  border-radius: 5px;
  height: 45px;
}

/* Forms */

.form-control {
  border-width: 0 0 2px 0;
  border-radius: 0;
  padding: 26px 11px;
  margin-bottom: 1.5rem;
}

.form-control:focus {
  border-color: #1a237e;
  box-shadow: 0 0 0 0 !important;
}

.form-group {
  padding: 8px 0;
  margin-bottom: 0;
}

.input-group-text {
  margin-bottom: 24px;
}

@media only screen and (max-width: 575px)  {
  .form-row .col-sm-6 {
    padding: 8px 0;
  }

  .form-row {
    padding: 0;
  }

  .form-row .col-sm-6 .form-control-placeholder {
    padding: 23px 0 0 18px !important;
  }
}

.input-group-text {
  border-width: 0 0 2px 0;
  border-radius: 0;
}


/* Carousel animation */

.carousel-item {
  /* Force to always be block */
  display: block !important;
  z-index: 1;
  position: absolute;
  transform: translateX(175%);
  opacity: 0;
  transition: all 1.2s;
  visibility: hidden;
  min-height: 300px !important;
}

.carousel-item.active {
  position: relative;
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

/* Floating labels */

.form-group {
  position: relative;
}

.input-group-prepend .form-control-placeholder {
  padding: 23px 0 0 53px;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 23px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
  font-size: 16px;
}

.form-row .col-sm-6 .form-control-placeholder {
  padding: 15px 0 0 13px;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate(-10px, -33px);
  opacity: 1;
}

.form-label-box {
  margin-top: -25px;
}

.form-error {
  color: darkred;
}

.col-sm-6 .form-error {
  padding-right: 5px;
}

/*.ng-valid[required], .ng-valid.required  {*/
/*  border-bottom: 2px solid #42A948; !* green *!*/
/*}*/

/*.ng-invalid:not(form)  {*/
/*  border-bottom: 2px solid #a94442; !* red *!*/
/*}*/

/*.ng-untouched {*/
/*  border-bottom:2px solid #1a237e !important;*/
/*}*/
