<footer class="bg-primary footer text-white">

  <!--Higher part of footer-->
  <div class="container-fluid px-5">
    <div class="row py-3 justify-content-between">
      <div class="col-md-12 col-lg-8 pr-4">
        <h6 class="md-subtitle1">Sample heading</h6>
        <p>
          Mauris scelerisque blandit ligula at semper. Proin ac euismod purus. Suspendisse potenti. Cras augue
          felis, hendrerit ultrices pharetra non, posuere vel odio. In ultrices sagittis ante, sit amet
          condimentum neque iaculis iaculis.
        </p>
      </div>
      <div class="col-6 col-lg-2">
        <h6>We don't have!</h6>
        <fa-icon [icon]="faFacebookSquare"></fa-icon>
        Facebook<br>
        <fa-icon [icon]="faTwitterSquare"></fa-icon>
        Twitter<br>
        <fa-icon [icon]="faInstagramSquare"></fa-icon>
        Instagram<br>
      </div>
      <div class="col-6 col-lg-2">
        <h6>But we have!</h6>

        <a href="mailto:dawidgromek.1997@gmail.com">
          <fa-icon [icon]="faEnvelopeSquare"></fa-icon>
          Mail</a><br>
        <a href="https://github.com/DGromek" target="_blank">
          <fa-icon [icon]="faGithubSquare"></fa-icon>
          Github</a><br>
        <a href="" target="_blank">
          <fa-icon [icon]="faLinkedin"></fa-icon>
          Linked in</a><br>
      </div>
    </div>
  </div>

  <!--Lower part of footer-->
  <div class="py-2 container-fluid text-center bg-primary-dark lower-footer">
    <div class="row">
      <div class="col">
        Made by Dawid Gromek <br>
        &copy; All rights reserved. Or something like that.
      </div>
    </div>
  </div>
</footer>
