<div class="container">
  <div class="row my-3">
    <div class="col-md-6">
      <h4 class="text-center pt-3">Zbliżajace się wizyty</h4>

      <div *ngFor="let appointment of appointments$ | async">
        <div class="row border rounded-lg bg-light p-1 m-2">
          <div class="col-9">
            <span class="badge badge-success d-inline-block px-3" *ngIf="appointment.status == 'DONE'">Odbyta</span>
            <span class="badge badge-info d-inline-block px-3" *ngIf="appointment.status == 'PENDING'">Potwierdzona</span>
            <span class="badge badge-danger d-inline-block px-3" *ngIf="appointment.status == 'CANCELED'">Anulowana</span>
            <span class="d-block">{{appointment.doctor.firstName}} {{appointment.doctor.lastName}} - {{appointment.doctor.speciality}}</span>
            <small class="d-block">{{appointment.clinic.city}}, {{appointment.clinic.street}} {{appointment.clinic.houseNr}} {{appointment.clinic.flatNr}} - {{appointment.clinic.name}}</small>
          </div>
          <div class="col-3 text-center m-auto border-left">
            <span class="d-block year-fontsize">{{appointment.dateOfAppointment | date: 'yyyy'}}</span>
            <span class="d-block">{{appointment.dateOfAppointment | date: 'LLLL' | titlecase}}</span>
            <h5 class="mr-0">{{appointment.dateOfAppointment | date: 'd'}}</h5>
            <span class="d-block">{{appointment.dateOfAppointment | date:'HH:mm'}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</div>
