<footer class="bg-primary footer text-white">

  <!--Higher part of footer-->
  <div class="container-fluid px-5">
    <div class="row py-3 justify-content-between">
      <div class="col-md-12 col-lg-8 pr-4">
        <h6 class="md-subtitle1">Chcesz dołączyć?</h6>
        <p>
          Jeżeli jesteś zainteresowany współpracą skontaktuj się z naszym działem handlowców w celu dopasowania oferty specjalnie dla Ciebie.
          Kontakt: handlowcy@e-doc.pl
        </p>
      </div>
      <div class="col-6 col-lg-2">
        <h6>Nie znajdziesz nas na:</h6>
        <fa-icon [icon]="faFacebookSquare"></fa-icon>
        Facebook<br>
        <fa-icon [icon]="faTwitterSquare"></fa-icon>
        Twitter<br>
        <fa-icon [icon]="faInstagramSquare"></fa-icon>
        Instagram<br>
      </div>
      <div class="col-6 col-lg-2">
        <h6>Ale znajdziesz na:</h6>

        <a href="mailto:dawidgromek.1997@gmail.com">
          <fa-icon [icon]="faEnvelopeSquare"></fa-icon>
          Mail</a><br>
        <a href="https://github.com/DGromek" target="_blank">
          <fa-icon [icon]="faGithubSquare"></fa-icon>
          Github</a><br>
        <a href="https://www.linkedin.com/in/dawid-gromek-2185a6161/" target="_blank">
          <fa-icon [icon]="faLinkedin"></fa-icon>
          Linked in</a><br>
      </div>
    </div>
  </div>

  <!--Lower part of footer-->
  <div class="py-2 container-fluid text-center bg-primary-dark lower-footer">
    <div class="row">
      <div class="col">
        Made by Dawid Gromek <br>
        &copy; All rights reserved.
      </div>
    </div>
  </div>
</footer>
