<div class="container">
  <div class="row my-3">
    <div class="col-md-6">
      <h4 class="text-center pt-3">Zbliżajace się wizyty</h4>

      <div class="row border rounded-lg bg-light p-1 m-2">
        <div class="col-9">
          <span class="badge badge-success d-inline-block px-3">Odbyta</span>
          <span class="d-block">Dr. Jan Kowal - Internista</span>
          <small class="d-block">Łódź, Sterlinga 32A - Szpital imienia Jana Pawła II</small>
        </div>
        <div class="col-3 text-center m-auto border-left">
          <span>Styczeń</span>
          <h5 class="mr-0">12</h5>
          <span>14:30</span>
        </div>
      </div>
      <div class="row border rounded-lg bg-light p-1 m-2">
        <div class="col-9">
          <span class="badge badge-danger d-inline-block px-3">Anulowana</span>
          <span class="d-block">Dr. Jan Kowal - Internista</span>
          <small class="d-block">Łódź, Sterlinga 32A - Szpital imienia Jana Pawła II</small>
        </div>
        <div class="col-3 text-center m-auto border-left">
          <span>Styczeń</span>
          <h5 class="mr-0">12</h5>
          <span>14:30</span>
        </div>
      </div>
      <div class="row border rounded-lg bg-light p-1 m-2">
        <div class="col-9">
          <span class="badge badge-info d-inline-block px-3">Potwierdzona</span>
          <span class="d-block">Dr. Jan Kowal - Internista</span>
          <small class="d-block">Łódź, Sterlinga 32A - Szpital imienia Jana Pawła II</small>
        </div>
        <div class="col-3 text-center m-auto border-left">
          <span>Styczeń</span>
          <h5 class="mr-0">12</h5>
          <span>14:30</span>
        </div>
      </div>

    </div>
    <div class="col-md-6"></div>
  </div>
</div>
