.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate(-50px, -33px);
  opacity: 1;
}

/* Forms */

.form-control {
  border-width: 0 0 2px 0;
  border-radius: 0;
  padding: 26px 11px;
  margin-bottom: 1.5rem;
}

.form-group {
  padding: 8px 0;
  margin-bottom: 0;
}

.input-group-text {
  margin-bottom: 24px;
}

.input-group-text {
  border-width: 0 0 2px 0;
  border-radius: 0;
}
