<div class="container">
  <div class="col-10 col-md-8 col-lg-6 mx-auto shadow rounded bg-light p-5 m-5">
    <h4 class="text-center pb-3">Zaloguj się</h4>
    <form>
      <div class="form-group">
        <div class="input-group-prepend">
          <div class="input-group-text px-3">
            <fa-icon [icon]="faUser"></fa-icon>
          </div>
          <input type="password" class="form-control" id="pesel" name="pesel" required>
          <label class="form-control-placeholder" for="pesel">Podaj numer PESEL</label>
        </div>

      </div>
      <div class="form-group">
        <div class="input-group-prepend">
          <div class="input-group-text px-3">
            <fa-icon [icon]="faLock"></fa-icon>
          </div>
          <input type="password" class="form-control" id="password" name="password" required>
          <label class="form-control-placeholder" for="password">Podaj hasło</label>
        </div>
        <div class="text-right form-label-box">
          <small><a href="#">Zapomniałeś hasła?</a></small>
        </div>
      </div>
      <button class="btn btn-secondary btn-block mt-4">Wyślij</button>
    </form>
  </div>
</div>

