form [class^="col-"],
[class*=" col-"] {
  padding-right: 8px !important;
  padding-left: 8px !important;
}

.form-control, .input-group-text, .filter-btn {
  border-radius: 10px;
}

.btn-sm {
  border-radius: 20px;
  padding: 5px 10px;
  margin: 0 5px;
}
