<div class="container">

  <div class="row">
    <div class="col-lg-8">
      <div *ngIf="clinic$ | async; let clinic" class="border rounded-lg bg-light p-3 my-4">
        <img src="https://via.placeholder.com/1900x550" class="img-fluid rounded mb-3">
        <h4 class="mx-3">{{clinic.name}}</h4>
        <h6 class="mx-3 text-muted">{{clinic.postalCode}} {{clinic.city}},
          ul.{{clinic.street}} {{clinic.houseNr}} {{clinic.flatNr}}</h6>


        <div class="text-center my-3">
          <button type="button" class="btn btn-link" [style.font-weight]="this.currentUsedDayOfWeek === 1? 'bold' : 'inherit'" (click)="getDailySchedules(1)">Poniedziałek</button>
          <button type="button" class="btn btn-link" [style.font-weight]="this.currentUsedDayOfWeek === 2? 'bold' : 'inherit'" (click)="getDailySchedules(2)">Wtorek</button>
          <button type="button" class="btn btn-link" [style.font-weight]="this.currentUsedDayOfWeek === 3? 'bold' : 'inherit'" (click)="getDailySchedules(3)">Środa</button>
          <button type="button" class="btn btn-link" [style.font-weight]="this.currentUsedDayOfWeek === 4? 'bold' : 'inherit'" (click)="getDailySchedules(4)">Czwartek</button>
          <button type="button" class="btn btn-link" [style.font-weight]="this.currentUsedDayOfWeek === 5? 'bold' : 'inherit'" (click)="getDailySchedules(5)">Piątek</button>
          <button type="button" class="btn btn-link" [style.font-weight]="this.currentUsedDayOfWeek === 6? 'bold' : 'inherit'" (click)="getDailySchedules(6)">Sobota</button>
          <button type="button" class="btn btn-link" [style.font-weight]="this.currentUsedDayOfWeek === 7? 'bold' : 'inherit'" (click)="getDailySchedules(7)">Niedziela</button>
        </div>

        <table class="table table-striped text-center">
          <thead>
          <tr>
            <th scope="col">Imię i nazwisko</th>
            <th scope="col">Specjalizacja</th>
            <th scope="col">Godziny przyjęć</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let doctorWithDailySchedule of doctors$ | async">
            <ng-template [ngIf]="doctorWithDailySchedule.dailySchedule.startingHour !== doctorWithDailySchedule.dailySchedule.endingHour">
              <td>{{doctorWithDailySchedule.doctor.firstName}} {{doctorWithDailySchedule.doctor.lastName}}</td>
              <td>{{doctorWithDailySchedule.doctor.speciality}}</td>
              <td>{{doctorWithDailySchedule.dailySchedule.startingHour | slice:0:5}}
                - {{doctorWithDailySchedule.dailySchedule.endingHour | slice:0:5}}</td>
            </ng-template>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="col-lg-4">
      <div *ngIf="clinic$ | async; let clinic" class="border rounded-lg bg-light p-3 my-4 text-center">
        <h6>Numer kontaktowy</h6>
        <span><fa-icon [icon]="faPhoneAlt" class="mr-1"></fa-icon>
          {{clinic.phoneNumber}}<br></span>
        <hr>
        <h6>Godziny otwarcia</h6>
        <table class="table table-sm" *ngIf="openingHours$ | async; let openingHours">
          <tr>
            <td>Poniedziałek</td>
            <td *ngIf="openingHours.moBegin != null && openingHours.moEnd != null; else closed">
              {{openingHours.moBegin | slice:0:5}} - {{openingHours.moEnd | slice:0:5}}
            </td>
          </tr>
          <tr>
            <td>Wtorek</td>
            <td *ngIf="openingHours.tuBegin != null && openingHours.tuEnd != null; else closed">
              {{openingHours.tuBegin | slice:0:5}} - {{openingHours.tuEnd | slice:0:5}}
            </td>
          </tr>
          <tr>
            <td>Środa</td>
            <td *ngIf="openingHours.weBegin != null && openingHours.weEnd != null; else closed">
              {{openingHours.weBegin | slice:0:5}} - {{openingHours.weEnd | slice:0:5}}
            </td>
          </tr>
          <tr>
            <td>Czwartek</td>
            <td *ngIf="openingHours.thBegin != null && openingHours.thEnd != null; else closed">
              {{openingHours.thBegin | slice:0:5}} - {{openingHours.thEnd | slice:0:5}}
            </td>
          </tr>
          <tr>
            <td>Piątek</td>
            <td *ngIf="openingHours.frBegin != null && openingHours.frEnd != null; else closed">
              {{openingHours.frBegin | slice:0:5}} - {{openingHours.frEnd | slice:0:5}}
            </td>
          </tr>
          <tr>
            <td>Sobota</td>
            <td *ngIf="openingHours.saBegin != null && openingHours.saEnd != null; else closed">
              {{openingHours.saBegin | slice:0:5}} - {{openingHours.saEnd | slice:0:5}}
            </td>
          </tr>
          <tr>
            <td>Niedziela</td>
            <td *ngIf="openingHours.suBegin != null && openingHours.suEnd != null; else closed">
              {{openingHours.suBegin | slice:0:5}} - {{openingHours.suEnd | slice:0:5}}
            </td>
          </tr>
        </table>
      </div>
    </div>

    <ng-template #closed>
      <td>Zamknięte</td>
    </ng-template>

  </div>
</div>

