<div class="row border rounded-lg bg-light px-0 px-md-1 py-2 m-2">
  <div class="col-9">
    <span class="badge badge-success d-inline-block px-3" *ngIf="appointment.status == 'DONE'">Odbyta</span>
    <span class="badge badge-info d-inline-block px-3" *ngIf="appointment.status == 'PENDING'">Potwierdzona</span>
    <span class="badge badge-danger d-inline-block px-3" *ngIf="appointment.status == 'CANCELED'">Anulowana</span>
    <h6 class="d-block mb-0 mt-2">{{appointment.doctor.firstName}} {{appointment.doctor.lastName}} - {{appointment.doctor.speciality}}</h6>
    <span class="d-block text-muted place-style">{{appointment.clinic.name}}</span>
    <span class="d-block">{{appointment.clinic.city}}, {{appointment.clinic.street}} {{appointment.clinic.houseNr}} {{appointment.clinic.flatNr}}</span>
    <button *ngIf="appointment.status == null" class="btn btn-primary btn-sm btn-block p-1 my-2" (click)="onReservationButtonClick(content)">
      Rezerwuj
    </button>
  </div>
  <div class="col-3 text-center m-auto border-left px-0 px-sm-2">
    <span class="d-block year-fontsize">{{appointment.dateOfAppointment | date: 'yyyy'}}</span>
    <span class="d-block">{{appointment.dateOfAppointment | date: 'LLLL' | titlecase}}</span>
    <h5 class="mr-0">{{appointment.dateOfAppointment | date: 'd'}}</h5>
    <span class="d-none d-md-block"><strong>{{appointment.dateOfAppointment | date: 'EEEE'}}</strong></span>
    <span class="d-block d-none d-sm-block d-md-none"><strong>{{appointment.dateOfAppointment | date: 'EE'}}</strong></span>
    <span class="d-block">{{appointment.dateOfAppointment | date:'HH:mm'}}</span>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-body text-center">
    <fa-icon [icon]="faCheckCircle" [styles]="{'stroke': 'green', 'color': 'green'}" size="5x"></fa-icon>
    <h5 class="mt-2"> Twoja rezerwacja została zapisana.</h5>
    <button type="button" class="btn btn-outline-primary btn-sm btn-block mt-3 mb-2" routerLink="/dashboard" (click)="modal.close()">Powrót do tablicy</button>
  </div>
</ng-template>
