<div class="container">
  <div *ngIf="clinic$ | async; let clinic" class="border rounded-lg bg-light p-3 m-4">
    <img src="https://via.placeholder.com/1900x550" class="img-fluid rounded mb-3">
    <h4 class="mx-3">{{clinic.name}}</h4>
    <h6 class="mx-3 text-muted">{{clinic.postalCode}} {{clinic.city}},
      ul.{{clinic.street}} {{clinic.houseNr}} {{clinic.flatNr}}</h6>

    <!-- Filter input -->
    <div class="d-flex justify-content-center">
      <form class="form-inline">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">
                <fa-icon [icon]="faSearch"></fa-icon>
              </span>
          </div>
          <input type="text" class="form-control">
        </div>
      </form>
    </div>

    <!-- Doctors section -->

    <ng-container *ngFor="let doctor of doctors$ | async">
      <div class="card my-3 p-4 border shadow bg-light">
        <div class="row">
          <div class="col-10">
            <h5>{{doctor.firstName}} {{doctor.lastName}}</h5>
            <span class="d-block text-muted">{{doctor.speciality}}</span>
          </div>
          <div class="col-2 text-center m-auto">
            <button class="btn btn-secondary">Zarezerwuj</button>
          </div>
        </div>
      </div>
    </ng-container>

  </div>


</div>
h
