h5 {
  margin-bottom: 0;
}

.year-fontsize {
  font-size: 12px;
  margin-bottom: -3px;
}

.place-style {
  font-size: 0.8rem;
}

form [class^="col-"],
[class*=" col-"] {
  padding-right: 8px !important;
  padding-left: 8px !important;
}

.form-control, .input-group-text, .filter-btn {
  border-radius: 10px;
}
