<!-- Filter bar -->
<div class="container-fluid">
  <nav class="py-2">

    <!-- Date picker -->
    <div class="row btn-toolbar d-flex justify-content-center" role="toolbar">
      <div class="col-sm-6 col-lg-2 mt-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><fa-icon [icon]="faCalendarAlt" (click)="d.toggle()"></fa-icon></span>
          </div>
          <input (click)="d.toggle()" class="form-control" placeholder="*Szukaj od" ngbDatepicker
                 [(ngModel)]="date"
                 name="dp"
                 outsideDays="hidden"
                 #d="ngbDatepicker">
        </div>
      </div>

      <!-- City -->
      <div class="col-sm-6 col-lg-2 mt-3">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">
                <fa-icon [icon]="faCity"></fa-icon>
              </span>
          </div>
          <select [(ngModel)]="selectedCity" (ngModelChange)="onCitySelect()" class="form-control">
            <option [ngValue]="null" hidden [disabled]>*Miasto</option>
            <option [ngValue]="city" *ngFor="let city of cities$ | async">{{city}}</option>
          </select>
        </div>
      </div>

      <!-- Profession picker -->
      <div class="col-sm-6 col-lg-2 mt-3">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">
                <fa-icon [icon]="faStethoscope"></fa-icon>
              </span>
          </div>
          <select [(ngModel)]="selectedSpeciality" (ngModelChange)="onSpecialtySelect()" class="form-control">
            <option [ngValue]="null" hidden [disabled]>*Specjalizacja</option>
            <option [ngValue]="specialty" *ngFor="let specialty of specialities$ | async">{{specialty}}</option>
          </select>
        </div>
      </div>

      <!-- Place filter -->
      <div class="col-sm-6 col-lg-2 mt-3">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">
                <fa-icon [icon]="faClinicMedical"></fa-icon>
              </span>
          </div>
          <select [(ngModel)]="selectedClinic" (ngModelChange)="onClinicSelect()" class="form-control">
            <option [ngValue]="null" hidden [disabled]="true">Placówka</option>
            <option [ngValue]="null">&lt;dowolna&gt;</option>
            <option [ngValue]="clinicName" *ngFor="let clinicName of clinicsNames$ | async">{{clinicName}}</option>
          </select>
        </div>
      </div>

      <!-- Doctor filter -->
      <div class="col-sm-6 col-lg-2 mt-3">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">
                <fa-icon [icon]="faUserMd"></fa-icon>
              </span>
          </div>
          <select [(ngModel)]="selectedDoctor" (ngModelChange)="onDoctorSelect()" class="form-control">
            <option [ngValue]="null" hidden [disabled]="true">Lekarz</option>
            <option [ngValue]="null">&lt;dowolny&gt;</option>
            <option [ngValue]="doctorName" *ngFor="let doctorName of doctorsNames$ | async">{{doctorName}}</option>
          </select>
        </div>
      </div>

      <!-- Filtering button -->
      <div class="col-sm-6 col-lg-2 text-center mt-3">
        <div class="btn-group btn-block">
          <button class="btn btn-success filter-btn" [disabled]="!canSubmit()" (click)="getFreeAppointments()">Szukaj!
          </button>
        </div>
      </div>

    </div>
  </nav>
</div>
<div class="container-lg">
  <h4 class="text-center my-4" *ngIf="freeTerms$ === undefined">Wybierz wartości w okienkach oznaczonych "*" a następnie
    klinknij przycisk "Szukaj!" aby
    wyszukać dostępne terminy</h4>
  <h4 class="text-center my-4" *ngIf="freeTerms$ === null">Niestety nie znaleźliśmy żadnych dostępnych terminów dla
    podanych kryteriów. Zmień parametry wyszukiwania i spróbuj ponownie.</h4>
  <div class="row">
    <div *ngFor="let freeTerm of freeTerms$ | async" class="col-12 col-md-6 col-lg-6 p-0 p-md-1">
      <app-appointment-template [appointment]="freeTerm"></app-appointment-template>
    </div>
  </div>
</div>

