<!-- Filter bar -->
<div class="container-fluid">
  <nav class="py-2">

    <!-- Date picker -->
    <div class="row btn-toolbar d-flex justify-content-center" role="toolbar">
      <div class="col-sm-6 col-lg-2 mt-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><fa-icon [icon]="faCalendarAlt" (click)="d.toggle()"></fa-icon></span>
          </div>
          <input (click)="d.toggle()" class="form-control" placeholder="*Szukaj od" ngbDatepicker
                 [(ngModel)]="date"
                 name="dp"
                 outsideDays="hidden"
                 #d="ngbDatepicker">
        </div>
      </div>

      <!-- City -->
      <div class="col-sm-6 col-lg-2 mt-3">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">
                <fa-icon [icon]="faCity"></fa-icon>
              </span>
          </div>
          <select [(ngModel)]="selectedCity" class="form-control">
            <option [ngValue]="null" hidden [disabled]>*Miasto</option>
            <option [ngValue]="city" *ngFor="let city of cities$ | async">{{city}}</option>
          </select>
        </div>
      </div>

      <!-- Profession picker -->
      <div class="col-sm-6 col-lg-2 mt-3">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">
                <fa-icon [icon]="faStethoscope"></fa-icon>
              </span>
          </div>
          <select [(ngModel)]="selectedSpeciality" class="form-control">
            <option [ngValue]="null" hidden [disabled]>*Specjalizacja</option>
            <option [ngValue]="specialty" *ngFor="let specialty of specialities$ | async">{{specialty}}</option>
          </select>
        </div>
      </div>

      <!-- Place filter -->
      <div class="col-sm-6 col-lg-2 mt-3">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">
                <fa-icon [icon]="faClinicMedical"></fa-icon>
              </span>
          </div>
          <select [(ngModel)]="selectedClinic" class="form-control">
            <option [ngValue]="null" hidden [disabled]="true">Placówka</option>
            <option [ngValue]="null">&lt;dowolna&gt;</option>
            <option [ngValue]="clinicName" *ngFor="let clinicName of clinicsNames$ | async">{{clinicName}}</option>
          </select>
        </div>
      </div>

      <!-- Doctor filter -->
      <div class="col-sm-6 col-lg-2 mt-3">
        <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">
                <fa-icon [icon]="faUserMd"></fa-icon>
              </span>
          </div>
          <select [(ngModel)]="selectedDoctor" class="form-control">
            <option [ngValue]="null" hidden [disabled]="true">Lekarz</option>
            <option [ngValue]="null">&lt;dowolny&gt;</option>
            <option [ngValue]="doctorName" *ngFor="let doctorName of doctorsNames$ | async">{{doctorName}}</option>
          </select>
        </div>
      </div>

      <!-- Filtering button -->
      <div class="col-sm-6 col-lg-2 text-center mt-3">
        <div class="btn-group btn-block">
          <button class="btn btn-success filter-btn" [disabled]="!canSubmit()" (click)="getFreeAppointments()">Szukaj!</button>
        </div>
      </div>

    </div>
  </nav>
</div>
<div class="container-lg">
  <h4 class="text-center my-4" *ngIf="freeTerms$ === undefined">Wybierz wartości w okienkach oznaczonych "*" a następnie klinknij przycisk "Szukaj!" aby
    wyszukać dostępne terminy</h4>
  <h4 class="text-center my-4" *ngIf="freeTerms$ === null">Niestety nie znaleźliśmy żadnych dostępnych terminów dla podanych kryteriów. Zmień parametry wyszukiwania i spróbuj ponownie.</h4>
  <div class="row">
    <div *ngFor="let freeTerm of freeTerms$ | async" class="col-12 col-md-6 col-lg-6 p-0 p-md-1">
      <div class="row border rounded-lg bg-light px-0 px-md-1 py-2 m-2">
        <div class="col-9">
          <h6 class="d-block mb-0 mt-2">{{freeTerm.doctor.firstName}} {{freeTerm.doctor.lastName}} - {{freeTerm.doctor.speciality}}</h6>
          <span class="d-block text-muted place-style">{{freeTerm.clinic.name}}</span>
          <span class="d-block">{{freeTerm.clinic.city}}, {{freeTerm.clinic.street}} {{freeTerm.clinic.houseNr}} {{freeTerm.clinic.flatNr}}</span>
          <button class="btn btn-primary btn-sm btn-block p-1 my-2">Rezerwuj</button>
        </div>
        <div class="col-3 text-center m-auto border-left px-0 px-sm-2">
          <span class="d-block year-fontsize">{{freeTerm.dateOfAppointment | date: 'yyyy'}}</span>
          <span class="d-block">{{freeTerm.dateOfAppointment | date: 'LLLL' | titlecase}}</span>
          <h5 class="mr-0">{{freeTerm.dateOfAppointment | date: 'd'}}</h5>
          <span class="d-none d-md-block"><strong>{{freeTerm.dateOfAppointment | date: 'EEEE'}}</strong></span>
          <span class="d-block d-none d-sm-block d-md-none"><strong>{{freeTerm.dateOfAppointment | date: 'EE'}}</strong></span>
          <span class="d-block">{{freeTerm.dateOfAppointment | date:'HH:mm'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

