<div class="banner p-5">
  <div class="m-auto text-center">
    <h1 class="banner-header d-block">Zadbaj o swoje zdrowie bez wychodzenia z domu</h1>
    <button class="btn btn-outline-primary btn-lg">Zarejestruj się</button>
  </div>
</div>

<div class="row p-5">
  <div class="col-md-4 col-6">
    <img class="img-fluid" src="../../../assets/doctor.svg" alt="doctor ilustration">
  </div>
  <div class="col-md-8 col-6 text-center">
    <h3>Internetowy system rezerwacji wizyt medycznych</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et faucibus ipsum. Fusce sodales rhoncus mauris, interdum dignissim felis fringilla vitae. Aenean et sapien in est hendrerit tempor eu sit amet nunc. Sed ultricies scelerisque velit. Sed consectetur ultrices scelerisque. Vivamus rutrum diam ligula, non vestibulum sapien cursus quis. Sed nec rhoncus metus, non volutpat mi. Sed congue est quam, tincidunt feugiat turpis dapibus vitae. Duis laoreet scelerisque ipsum, quis tempor sapien pretium non. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin sit amet lacinia neque.</p>
  </div>
</div>

